//  Modules > Sidenav
// ------------------------------
// @link https://github.com/angular/material/blob/master/src/components/sidenav/sidenav.scss

$sidenav-width:         245px;

$sidenav-bg:            transparent;
$sidenav-content-bg:    rgba(255, 255, 255, 1.00);
$sidenav-toolbar-bg:    rgba(0, 0, 0, 0.87); //rgba(34, 43, 47, 0.87);
$sidenav-header-bg:     $sidenav-bg;
$sidenav-header-border: #cfcfcf;




/* Sidenav Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

md-sidenav.gp-sidenav {

  background: $sidenav-bg;
  //position: relative;
  min-height: 100%;

  max-width: $sidenav-width;
  min-width: $sidenav-width;
  width: $sidenav-width;
  overflow: hidden;

  > * {
    min-width: $sidenav-width - 54px;
  }

  .nav-header {
    background-color: $sidenav-header-bg;
    border-bottom: 1px solid $sidenav-header-border;
    flex-shrink: 0;
    margin-top: -8px;
  }

  .nav-toolbar {
    background-color: $sidenav-toolbar-bg;
    .md-toolbar-tools,
    .md-toolbar-tools-bottom {
      background-color: transparent;
    }
  }

  .nav-content {
    background: $sidenav-content-bg;
  }
}

.nav-logo {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 16px;
  margin: 0 auto;

  &:focus {
    outline: none;
  }

  > img {
    height: 80px;
    width: auto;
    display: block;
    transform-origin: 50% 0;
    transform: scale(1.2);
  }
}

a.nav-logo {
  border-bottom: none;
}
