//  Modules > Toolbar
// ------------------------------
// @link https://github.com/angular/material/blob/master/src/components/toolbar/toolbar.scss




/* Toolbar Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$toolbar-bg:              rgba(0, 0, 0, 0.87);

/* End Variables ––––––––––––––––––––––––––––––––– */




/* All Toolbars
–––––––––––––––––––––––––––––––––––––––––––––––––– */

md-toolbar,
body.gpquery md-toolbar,
gp-shell md-toolbar {
  &,
  &.gp-toolbar  {
    background-color: $toolbar-bg;
    .md-toolbar-tools,
    .md-toolbar-tools-bottom {
      background-color: transparent;
    }
  }
}

/* ––––––––––––––––––––––––––––––––––––––––––––––– */




/* Main Toolbar
–––––––––––––––––––––––––––––––––––––––––––––––––– */

md-toolbar.gp-toolbar {
  //position: fixed;
  //top: 0;
  //left: 0;
  //right: 0;
}


/* ––––––––––––––––––––––––––––––––––––––––––––––– */
