




//- -----------------------------
//- Sidenav
//- -----------------------------

md-sidenav.gp-sidenav.md-sidenav-left.md-whiteframe-glow-z1(md-component-id="left", md-is-locked-open="$mdMedia('gt-sm')")


  //- Sidenav Toolbar
  //- -----------------------------

  md-toolbar.nav-toolbar.md-tall.md-whiteframe-z5
    .md-toolbar-tools
      span(flex)
      md-button.md-icon-button(
        ng-click="shell.toggleSidenav()"
        hide-gt-sm
        aria-label="Toggle Sidenav"
      )
        md-icon.material-icons(ng-if="shell.sidenavIsOpen()") close
    .md-toolbar-tools.md-toolbar-tools-bottom
      span(flex)


  //- Sidenav Content
  //- -----------------------------

  md-content.nav-content(flex, role="navigation", layout="column")
    md-list.md-dense(ng-repeat="section in shell.sections")
      md-list-item.section-list-item(ng-click="shell.navigateTo(section.url, $event)")
        md-tooltip {{ section.tooltip }}
        p {{ section.title }}
      //-md-subheader.md-no-sticky {{section.title}}
      md-list-item.page-list-item(ng-if="section.pages", ng-repeat="page in section.pages", ng-click="shell.navigateTo(section.url + page.url, $event)"
      )
        md-tooltip {{ page.tooltip }}
        p {{ page.title }}

//- End Sidenav -----------------








//- -----------------------------
//- Site Main
//- -----------------------------

main.gp-main(layout="column", tabIndex="-1", role="main", flex)


  //- Site Toolbar
  //- -----------------------------

  md-toolbar.gp-toolbar.md-whiteframe-z2
    .md-toolbar-tools
      md-button.md-icon-button(ng-click="shell.toggleSidenav()", hide-gt-sm, aria-label="Toggle Sidenav")
        md-icon.material-icons menu


  //- Site Content
  //- -----------------------------

  md-content.main-content(md-scroll-y, layout="column", flex)
    .main-content-inner(ui-view, layout-padding, flex="noshrink")
    .main-content-footer(layout="row", layout-align="center center", flex="noshrink")
      #license-footer(flex)
        | Copyright © 2014–2016 ·
        a.md-accent(ng-href="https://github.com/GPQuery")
          |  GPQuery

//- End Site Main ---------------
