/* Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$list-item-height:              32px;
$list-item-button-height:       24px;
$section-list-item-margin-top:  6px;

/* End Variables ––––––––––––––––––––––––––––––––– */




/* Shell Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

gp-shell {

  position: relative;
  overflow: hidden;
  flex-direction: row;
  display: flex;
  max-height: 100%;

  // Padding to account for fixed-top toolbar
  padding-top: $md-toolbar-height;
  @media (min-width: 0) and (max-width: $md-layout-breakpoint-sm - 1) and (orientation: portrait) {
    padding-top: $md-toolbar-height-mobile-portrait;
  }
  @media (min-width: 0) and (max-width: $md-layout-breakpoint-sm - 1) and (orientation: landscape) {
    padding-top: $md-toolbar-height-mobile-landscape;
  }

  .gp-main {
    overflow-x: hidden;
    overflow-y: auto;

    >.main-content {
      overflow-x: hidden;
      overflow-y: auto;
    }
  }

}

/* End Shell Styles –––––––––––––––––––––––––––––– */




/* Sidenav List Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.section-list-item,
.page-list-item {

  min-height: $list-item-height;
  .md-list-item-inner {
    height: $list-item-height;
    min-height: $list-item-height;
  }
  .md-button {
    min-height: $list-item-button-height;
  }
  p {
    line-height: $list-item-button-height;
  }

}


//  Section Item
// ------------------------------

.section-list-item {

  margin-top: $section-list-item-margin-top;
  &:first-child {
    margin-top: $section-list-item-margin-top * 1.5;
  }
  .md-button {
    .md-list-item-inner {
      p {
        font-weight: bold;
      }
    }
  }

}


//  Responsive Spacing
// ------------------------------

@media (min-width: 0) and (max-width: $md-layout-breakpoint-sm - 1) {

  .section-list-item {
    margin-top: $section-list-item-margin-top * 0.75;
    &:first-child {
      margin-top: $section-list-item-margin-top;
    }
  }

}

/* End Sidenav List Styles ––––––––––––––––––––––– */

